@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<!--Magic Key  
    &
    type casting-->
<h2 style="color:@ViewData["clr"]"> @Model.Name</h2>
@ViewData["Message"]
<br />

@(int.Parse(ViewData["temp"].ToString())+10)



<select class="form-control">
    @foreach (var item in (List<string>)ViewData["brch"])
    {
        <option>@item</option>
    }
</select>
@ViewData["age"]
@ViewBag.age
<hr />
<h2>REad info using ViewBag</h2>
<h3>@ViewBag.Message</h3>
<h3>@(ViewBag.temp+10)</h3>
<select class="form-control">
    @foreach (var item in ViewBag.brch)
    {
        <option>@item</option>
    }
</select>